<div class="card" style="width: 1200px">
    <h1 style="text-align: center;"><u>Invoice List </u> </h1>
    <div class="card-header">
        <a class="btn btn-success" style="width:20%;" routerLink="add/0">Add Invoice</a>
    </div>
    <div class="card-body">

        <table class="table table-bordered">
            <thead class="bg-dark text-white">
                <tr>
                    <td>Invoice Id</td>
                    <td>Invoice Date</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Mobile</td>
                    <td>Gender</td>
                    <td>Address</td>
                    <td>Hobbies</td>
                    <td>Total</td>
                    <td>Products</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of invoiceData.data.items">
                    <td>{{item.id}}</td>
                    <td>{{item.invoiceDate | date}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.gender| gender}}</td>
                    <td>{{item.addressLine1}}</td>
                    <td>{{item.hobbies| hobby}}</td>
                    <td>{{item.total}}</td>
                    <td><a class="btn btn-primary" (click)="ShowProduct(item.id)">Show</a></td>
                    <td><a class="btn btn-primary" (click)="EditInvoice(item.id)">Edit</a> |
                    <a class="btn btn-danger" (click)="DeleteInvoice(item.id)">Delete</a></td>
                </tr>
            </tbody>

        </table>

    </div>
</div>
